body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

#hero-image {
    max-width: 500px;
}

.header,
.hero {
    background-color: #1F2937;
    display: flex;
    color: #fff;
}

.header {
    justify-content: space-between;
    padding: 20px 30px 0;
}

.left-links {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    display: flex;
    gap: 24px;
    margin-right: 32px;
    font-size: 18;
}

.hero {}

.hero-left>button {
    color: #fff;
    background-color: #3882F6;
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
}

.hero-left,
.hero-right {
    margin: 70px;
}

.hero-left>h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-left>p {
    margin-top: -30px;
    font-size: 18px;
    color: #F9FAF8;
}

.sub-head {
    margin-top: 40px;
}

.sub-head>h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.highlight-info {
    text-align: center;
    margin: 50px 0;
}



.small-image-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image-box,
.image-box>img {
    width: 200px;
}



.quote {
    background-color: #E5E7EB;
    padding: 90px;
}

.quote>P:first-child {
    padding: 0px 80px 0 80px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 0;
}

.quote>P:nth-child(2) {
    padding: 40px 80px 0px 80px;
    text-align: right;
    margin-right: 20px;
    font-weight: 900;
    margin-top: 0;
    font-size: 18px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-section {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    padding: 30px 120px;
    background-color: #3882F6;
    color: #fff;
    border-radius: 15px;
}

.left-area {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.left-area>h3 {
    margin-bottom: 0;
}

.left-area>p {
    margin-top: 5px;

}

.right-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-area>button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 6px 20px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: #fff;
    padding: 30px;
    justify-content: center;
}